
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add</h2>
<form method="post">
    <label>Enter No1</label>
    <input type="number" name="i" value="" />
    <br/>
    <label>Enter No1</label>
    <input type="number" name="j" value="" />
    <br/>
    <input type="submit" name="Add" value="add 2 nos" />
    <h1>@ViewBag.answer</h1>
</form>

