
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
<form method="post">

    <fieldset>
        <legend>Login Screen</legend>
        <label>Enter UserID</label>
        <input type="text" name="userid" value="" />
        <br />
        <label>Enter Password</label>
        <input type="password" name="pwd" value="" />
        <br />
        <input type="submit" value="Login" />
    </fieldset>
</form>

