<table>
    <tr *ngFor="let item of nos">
        <td>{{item}}</td>
    </tr>
</table>
<hr/>
<table>
    <tr>
    <td>ProductID</td>
    <td>ProductNaem</td>
    <td>Price</td>
</tr>
<tr *ngFor="let pdata of products">
    <td>{{pdata.id}}</td>
    <td>{{pdata.name}}</td>
    <td>{{pdata.price}}</td>
</tr>
</table>
<hr/>
<table>
    <tr>
    <td>Pid</td>
    <td>pname</td>
    <td>price</td>
</tr>
<tr *ngFor="let pdata of plist">
<td>{{pdata.prodid}}</td>
<td>{{pdata.prodname}}</td>
<td>{{pdata.prodprice}}</td>

</tr>
</table>


<hr/>
 <form>
    <fieldset>
        <label>Product ID</label>
        <input type="number" [(ngModel)]="productID" id="prodid" name="prodid"/>
        <br/>
        <label>Product Name</label>
        <input type="text" [(ngModel)]="productName" id="prodname" name="prodname"/>
        <br/>
        <label>Product Price</label>
        <input type="number" [(ngModel)]="productPrice" id="price" name="price"/>
        <br/>
        <input type="submit" value="Save" (click)="Save($event)"/>
    </fieldset>
</form> 
