
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

<form method="post">
    <input type="text" name="id" value="" />
    <input type="submit" name="Search" value="Search" />
    <h1>@ViewBag.id</h1>
    <h1>@ViewBag.name</h1>

</form>
