
@{
    ViewBag.Title = "subtract";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>subtract</h2>
<form method="post">
    <label>Enter No1</label>
    <input type="number" name="i" value="" />
    <br />
    <label>Enter No1</label>
    <input type="number" name="j" value="" />
    <br />
    <input type="submit" name="subtract" value="add 2 nos" />
    <h1>@ViewData["answer"]</h1>
</form>
